{#---
name: mikrotik-address-list-add
description: Добавление подсетей/адресов в address-list на RouterOS 7.x.
vars:
  address_list_name:
    type: str
    required: true
    desc: Имя address-list.
    example: NET-TO-HQ

  addresses:
    type: list[str]
    required: true
    desc: Список IP-адресов или подсетей (CIDR), добавляемых в список.
    example: 192.168.1.1,10.0.0.0/24,172.16.0.0/16
---#}
{% for addr in addresses %}
 /ip firewall address-list add list={{ address_list_name }} address={{ addr }}
{% endfor %}