{#---
name: cisco-add-prefix-list
description: Создание простого prefix-list на Cisco IOS-XE.
vars:
  prefix_list_name:
    type: str
    required: true
    desc: Имя prefix-list.
    example: PL-IN-HQ

  permit_prefix:
    type: cidr
    required: true
    desc: Разрешаемый префикс (основной).
    example: 10.0.241.0/24
---#}
ip prefix-list {{ prefix_list_name }} seq 10 permit {{ permit_prefix }}
ip prefix-list {{ prefix_list_name }} seq 100 deny 0.0.0.0/0 le 32